<form id="drop-folder" class="droppables-dialog-form" onsubmit="event.preventDefault();">
  <p>{{localize 'Droppables.DropExplanation'}}</p>
  <div class="form-group">
    <label class="droppables-dialog-label">{{localize 'Droppables.DropStyle'}}</label>
    <div class="form-fields">
      <select name="drop-style">
        {{#select dropStyle}}
        <option value="stack">{{localize 'Droppables.StackedUp'}}</option>
        <option value="random">{{localize 'Droppables.Randomly'}}</option>
        <option value="horizontalLine">{{localize 'Droppables.HorizontalLine'}}</option>
        <option value="verticalLine">{{localize 'Droppables.VerticalLine'}}</option>
        {{/select}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize 'Droppables.Elevation'}}</label>
    <div class="form-fields">
      <input type="number" name="elevation" placeholder="{{localize 'Droppables.ElevationOptional'}}" value="{{startingElevation}}">
    </div>
  </div>
</form>
